/* .no-scrollbar::-webkit-scrollbar {
    display: none;
}
  */

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
    background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #37b2b0;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
  font-family: 'Nunito', sans-serif;
}
.cards{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .cards{
      transition: none;
  }
}

.card:nth-child(2){ 
  transition-delay: 200ms;

}
.card:nth-child(3){
  transition-delay: 400ms;

}
.card:nth-child(4){
  transition-delay: 600ms;

}